- 한 가지 주제 -> 실습(기존 책의 방식과 동일)(반복), 다른 방식과 비교, 나만의 방법 창출 [타이타닉]
- 다른 한 가지 주제 -> 상기와 동일 [인디언]
- 위 두 가지를 하면서 도중에 필요한 개념을 찾아가며 복습, 학습

In [27]:
import numpy as np
import pandas as pd

file_df = pd.read_csv('titanic_train.csv')
file_df.info()    #데이터의 개수: 891, 숫자형 칼럼: 7개, 문자형 칼럼: 5개(인코딩)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [28]:
file_df.head()   #딱히 인코딩 할 만한 피처는 없어 보임

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
file_df['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [34]:
'''file_df = file_df.drop([file_df.iloc[file_df['Age'] == 0]], axis = 0)  
file_df.head()'''

"file_df = file_df.drop([file_df.iloc[file_df['Age'] == 0]], axis = 0)  \nfile_df.head()"

In [42]:
file_df['Age'] = file_df['Age'].fillna(file_df['Age'].mean())
file_df['Cabin'].fillna('N', inplace = True)
file_df['Embarked'].fillna('N', inplace = True)
print(file_df.isnull().sum().sum())   #결측값 처리, 인코딩 x

0

In [ ]:
print('Sex 값 분포:\n', )